name: Devtools

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  release:
    types: [ published ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  update-docs:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    uses: &devtools MFlisar/kmp-devtools/.github/workflows/kmp-devtools.yml@6.3.3
    with:
      run_update_docs: true
      java: "17"
    secrets: inherit

  dokka-pages:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    uses: *devtools
    with:
      run_dokka_pages: true
      java: "17"
    secrets: inherit

  release-notes:
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    uses: *devtools
    with:
      run_release_notes: true
    secrets: inherit

  publish:
    if: ${{ github.event_name == 'release' }}
    uses: *devtools
    with:
      run_publish_maven_central: true
      java: "17"
      publish_runs_on: "macos-latest"
    secrets: inherit
