# This workflow uses MFlisar/kmp-devtools to handle documentation, release notes and publishing to Maven Central.
# Link: https://github.com/MFlisar/kmp-devtools/blob/6.3.3/.github/workflows/gradle-ci.yml
name: Devtools

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:

  kmp-devtools-on-push:
    uses: MFlisar/kmp-devtools/.github/workflows/kmp-devtools-on-push.yml@6.4.0
    secrets: inherit