# This workflow uses MFlisar/kmp-devtools to handle documentation, release notes and publishing to Maven Central.
# Link: https://github.com/MFlisar/kmp-devtools/blob/6.3.3/.github/workflows/gradle-ci.yml
name: Devtools

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  release:
    types: [ published ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:

  # runs on push to main branch
  update-docs:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    uses: &devtools MFlisar/kmp-devtools/.github/workflows/kmp-devtools.yml@6.3.3
    with:
      run_update_docs: true
      java: "17"
    secrets: inherit

  # runs on push to main branch
  dokka-pages:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    uses: *devtools
    with:
      run_dokka_pages: true
      java: "17"
    secrets: inherit

  # runs on tag push
  release-notes:
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    uses: *devtools
    with:
      run_release_notes: true
    secrets: inherit

  # runs on release publish
  publish:
    if: ${{ github.event_name == 'release' }}
    uses: *devtools
    with:
      run_publish_maven_central: true
      java: "17"
      publish_runs_on: "macos-latest"
    secrets: inherit